@import "settings";

.info {
  background-color: #e1e1e1;
  padding: 0 vw(20) 0 vw(22);
  .info__nav {
    height: vw(50);
    padding-left: vw(30);
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    span {
      padding: 0 vw(5);
      font-family: $font-georgia;
      font-size: vw(12);
      &.active {
        color: $color-orange;
      }
    }
  }
}

.info__content {
  background-color: #ffffff;
  .info__content__title {
    text-align: center;
    height: vw(256);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 vw(10);
    border-bottom: vw(1) solid #e1e1e1;
    h1, span {
      color: #dddddd;
      font-family: $font-georgia;
      margin: 0;
    }
    h1 {
      font-size: vw(66);
    }
    span {
      font-size: vw(28);
      font-style: italic;
    }
  }
  .info__content__quotes {
    height: vw(439);
  }
}
