@import "settings";
@import "header";
@import "info";
@import "examples";
@import "contacts";
@import "footer";

body {
  margin: 0;
  padding: 0;
  background: #e1e1e1;
}

h1, h2, h3 {
  margin: 0;
}

input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

//
//cursor: pointer;
//transition: 0.3s;
//&:hover {
//  filter: brightness(105%)
//}
//&:active {
//  opacity: 0.4;
//}

